.div {
    width: 500px;
    margin: auto;
}

.title {
    margin: 0;
    margin-bottom: 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.label {
    display: block;
    display: flex;
    align-items: center;
}

.input[type="checkbox"]:checked {
    opacity: 0.5;
}

.span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    background-image: url(../images/table-tennis.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 80%;
    background-position: center;
}

.span1 {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    background-image: url(../images/basketball-ball.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
    background-size: 80%;
    background-position: center;
    opacity: 0.9;
}

.span1::checked :focus {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.span2 {
    display: inline-block;
    width: 15px;
    margin: 0 10px;
    height: 15px;
    background-image: url(../images/volleyball-ball.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 80%;
    background-position: center;
}

.span3 {
    display: inline-block;
    width: 15px;
    margin: 0 10px;
    height: 15px;
    background-image: url(../images/hockey-puck.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 80%;
    background-position: center;
}

.spanjon {
    color: #AFAFAF;
    opacity: 0.9;
}